<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>PatientController</servlet-name>
  	<display-name>PatientController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.PatientController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AppointmentController</servlet-name>
  	<display-name>AppointmentController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.AppointmentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PatientLogController</servlet-name>
  	<display-name>PatientLogController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.PatientLogController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkerController</servlet-name>
  	<display-name>WorkerController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.WorkerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentController</servlet-name>
  	<display-name>PaymentController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.PaymentController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WorkerLoginController</servlet-name>
  	<display-name>WorkerLoginController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.WorkerLoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TestResultController</servlet-name>
  	<display-name>TestResultController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.TestResultController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginController</servlet-name>
  	<display-name>AdminLoginController</display-name>
  	<description></description>
  	<servlet-class>com.hirucode.abc.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PatientController</servlet-name>
  	<url-pattern>/Patient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>PatientController</servlet-name>
	<url-pattern>/patient</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AppointmentController</servlet-name>
  	<url-pattern>/appointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PatientLogController</servlet-name>
  	<url-pattern>/PatientLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkerController</servlet-name>
  	<url-pattern>/WorkerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentController</servlet-name>
  	<url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
   <servlet-name>PaymentController</servlet-name>
   <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WorkerLoginController</servlet-name>
  	<url-pattern>/WorkerLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TestResultController</servlet-name>
  	<url-pattern>/TestResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestResultController</servlet-name>
    <url-pattern>/testResult</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
</web-app>
